<h1> Details of the cocktail </h1>
<%= @cocktail.name%>
<%= link_to "Back to the list of cocktails",cocktails_path %>
<!-- @cocktail.dose.each do |dose|
dose.ingredient.name / dose.description
 -->
<!-- link_to "Delete a task", task_path,
      method: :delete,
      data: { confirm: "Are you sure?" }
 -->
